In [49]:
from __future__ import print_function
import keras
from keras.datasets import cifar10
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras.optimizers import SGD
from keras.utils import print_summary, to_categorical
import sys
import os
import pandas as pd
import matplotlib.pyplot as plt #for plotting bounding boxes
%matplotlib inline
from matplotlib import patches

In [50]:
train = pd.read_csv('train.csv', index_col = False)

In [51]:
train.head()

               FileName      XMin     XMax      YMin      YMAx ClassName
0  000067f3419a12fe.jpg  0.123750  0.22750  0.773496  0.931391  Football
1  000067f3419a12fe.jpg  0.000000  0.10625  0.058271  0.731203    Person
2  000067f3419a12fe.jpg  0.095625  0.22750  0.037594  0.738722    Person
3  000067f3419a12fe.jpg  0.172500  0.21500  0.002820  0.155075    Person
4  000067f3419a12fe.jpg  0.222500  0.27500  0.000000  0.151316    Person

In [71]:
base_path = 'OIDv4_ToolKit/OID/Dataset/train/'
train[0:1]

               FileName     XMin    XMax      YMin      YMAx ClassName
0  000067f3419a12fe.jpg  0.12375  0.2275  0.773496  0.931391  Football

In [72]:
classname = train['ClassName'].iloc[0]
classname

'Football'

In [73]:
direct = os.path.join(base_path, classname)
direct

'OIDv4_ToolKit/OID/Dataset/train/Football'

In [74]:
filename = train['FileName'].iloc[0]
filename

'000067f3419a12fe.jpg'

In [75]:
completedir = direct + '/' + filename
completedir

'OIDv4_ToolKit/OID/Dataset/train/Football/000067f3419a12fe.jpg'

In [76]:
image = plt.imread(completedir)

In [ ]:
plt.imshow(image)